<a href="https://colab.research.google.com/github/melinalessa/Projeto2_Python_basico/blob/main/Projeto2_Python_basico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
#Importar Bibliotecas & Banco Dados

import os
import pandas as pd
import plotly.express as px

bd = os.listdir("/content/drive/MyDrive/DEV/PY/BD Vendas")
print(bd)

['Vendas - São Paulo.csv', 'Vendas - Rio de Janeiro.csv', 'Devolucoes - Rio de Janeiro.csv', 'Devolucoes - Salvador.csv', 'Vendas - Salvador.csv', 'Devolucoes - Fortaleza.csv', 'Vendas - Recife.csv', 'Vendas - Curitiba.csv', 'Devolucoes - São Paulo.csv', 'Vendas - Belo Horizonte.csv', 'Vendas - Fortaleza.csv', 'Devolucoes - Goiás.csv', 'Devolucoes - Belo Horizonte.csv', 'Devolucoes - Curitiba.csv', 'Vendas - Porto Alegre.csv', 'Vendas - Goiás.csv', 'Devolucoes - Porto Alegre.csv', 'Devolucoes - Recife.csv']

In [45]:
tabela_geral = pd.DataFrame()

#Importar base de dados e filtrar "Vendas"

for arquivo in bd:

  if "Vendas" in arquivo:
     
   tabela = pd.read_csv(f"/content/drive/MyDrive/DEV/PY/BD Vendas/{arquivo}")
   tabela_geral = tabela_geral.append(tabela)

display(tabela_geral)

<ipython-input-45-cb3dd7bfff6c>:10: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

<ipython-input-45-cb3dd7bfff6c>:10: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

<ipython-input-45-cb3dd7bfff6c>:10: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

<ipython-input-45-cb3dd7bfff6c>:10: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

<ipython-input-45-cb3dd7bfff6c>:10: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

<ipython-input-45-cb3dd7bfff6c>:10: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

<ipython-input-45-cb3dd7bfff6c>:10: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

<ipython-input-45-cb3dd7bfff6c>:10: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

<ipython-input-45-cb3dd7bfff6c>:10: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,5,HL1918,iPhone,4,Sarah,Souza,2/14/2018,São Paulo,5300,NaN
1,6,HL7348,SmartWatch,3,Alexandre,Rodriguez,5/20/2018,São Paulo,1400,NaN
2,9,HL1148,Câmera,3,Camille,Silva,3/26/2018,São Paulo,2100,NaN
3,10,HL1918,iPhone,3,Alon,Palmeira,11/6/2018,São Paulo,5300,NaN
4,18,HL8851,Notebook,4,Leandro,Rodrigues,8/6/2018,São Paulo,3500,NaN
...,...,...,...,...,...,...,...,...,...,...
727,9925,HL1918,iPhone,2,Victor,Gomes,1/9/2018,Goiás,5300,NaN
728,9937,HL8851,Notebook,2,Gabriel,Ribeiro,11/28/2018,Goiás,3500,NaN
729,9943,HL2714,Tablet,2,Giuseppe,Borges,10/5/2018,Goiás,1600,NaN
730,9968,HL2714,Tablet,2,Caio,Caldas,4/4/2018,Goiás,1600,NaN
731,9975,HL8851,Notebook,2,Anna,Maia,10/22/2018,Goiás,3500,NaN

In [46]:

#Analisar o produto mais Vendido (Qtd)

tabela_produto = tabela_geral.groupby('Produto').sum()
display(tabela_produto)

            Unnamed: 0  Quantidade Vendida  Preco Unitario  Unnamed: 8
Produto
Android        5164013                3183         3631200         0.0
Câmera         4848296                2805         2020200         0.0
Notebook       5393100                3249         3717000         0.0
SmartWatch     4968367                2980         1393000         0.0
Tablet         4920118                2921         1556800         0.0
Televisão      9675708                5931         4905000         0.0
iPhone        15015399                8974        15778100         0.0

In [47]:
#Filtrando apenas a coluna Quantidade Vendida (crescente)

tabela_produto = tabela_geral.groupby('Produto').sum()
tabela_produto = tabela_produto[["Quantidade Vendida"]].sort_values(by="Quantidade Vendida", ascending=False)
display(tabela_produto)

            Quantidade Vendida
Produto
iPhone                    8974
Televisão                 5931
Notebook                  3249
Android                   3183
SmartWatch                2980
Tablet                    2921
Câmera                    2805

In [48]:

#Analisar o produto que mais faturou (Em valor)

tabela_geral['Valor Total'] = tabela_geral['Quantidade Vendida'] * tabela_geral['Preco Unitario']

tabela_ValorTotal = tabela_geral.groupby('Produto').sum()
tabela_ValorTotal = tabela_ValorTotal[["Valor Total"]].sort_values(by="Valor Total", ascending=False)
display(tabela_ValorTotal)

            Valor Total
Produto
iPhone         47562200
Televisão      14827500
Notebook       11371500
Android        10822200
Câmera          5890500
Tablet          4673600
SmartWatch      4172000

In [49]:

#Analisar a Loja que teve o maior Faturamento

tabela_loja = tabela_geral.groupby('Loja').sum()
tabela_loja = tabela_loja[['Valor Total']]
display(tabela_loja)

                Valor Total
Loja
Belo Horizonte      6480300
Curitiba            7060500
Fortaleza          14087900
Goiás               7441800
Porto Alegre        6868600
Recife              7303000
Rio de Janeiro     14867800
Salvador           13111300
São Paulo          22098300

In [52]:

#Análise em Gráfico/Dashboard

grafico = px.bar(tabela_loja, x=tabela_loja.index, y='Valor Total')
grafico.show()